# macOS
.DS_Store

# Model checkpoints
checkpoints/
checkpoints.tar.gz
*.pt

# Outputs
outputs/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/
